In [1]:
#Topics which are covered: 
#--> Strings
#--> List
#--> Dictionary
# tuple/set
#lambda functions
#file handling

# Dictionary

In [2]:
names=['Ram','Raheem','Robert']
ages=[25,30,35]

for i,j in zip(names,ages):
    print(i,j)

Ram 25
Raheem 30
Robert 35

# Key-value pair concept

In [11]:
#{key:value} # This is the Format
dict1= {'Ram':25,'Raheem':30,'Robert':35} #these are paired
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

# type len max min

# 15 Keywords
1.

In [12]:
type(dict1)

dict

In [13]:
len(dict1) #becoz ram and 25 is one pair like that

3

In [17]:
max(dict1)

'Robert'

In [15]:
min(dict1)

'Raheem'

1. max values and min values based on asci keys only
2. key should be always 1 and value should be many(in dictionary)
3. List is array of elements

In [30]:
#this ill work because this is what dictionary is 
d1={'Ram':25,'Raheem':30,'Robert':25}
d2={'names':['Ram','Raheem','Robert'],'ages':[25,20,25]}
d3={25:'Ram'}
#d4={['Ram','Raheem','Robert']:'names'}
d5={25:35}
d5
d6={'A':'Apple',
   'B':'10.5',
   'C':'10+5j',
   12:['A','B','C']}
d7={'Fruits':{'like':['Apple','Cherry']}} #json file types

{'Fruits': {'like': ['Apple', 'Cherry']}}

# If we provide multiple values at key position it will fail

In [31]:
d8={'Mobin':'Amazon','Mobin':'Amazon'}
d8

{'Mobin': 'Amazon'}

# duplicates are not allowed

In [32]:
d9={'Ravi':25,'Ravi':35}
d9

{'Ravi': 35}

# If keys are same last or latest value only will take

In [33]:
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

1. in operator

In [36]:
'Ram' in dict1

True

In [37]:
'Ram':25 in dict1

SyntaxError: illegal target for annotation (188876429.py, line 1)

1. error becoz keys are important then only true value will be if values if we give it will show error

In [38]:
'Ram' in dict1
'Raheem' in dict1
'Robert' in dict1

#i in dict1

True

In [39]:
for i in dict1:
    print(i)

Ram
Raheem
Robert

1. here also when we itterate through loop only keys will come values will not come this is very very imp interview qs

index
1. dictionary values retrive based on keys only

In [41]:
dict1[0]

KeyError: 0

In [42]:
dict1['Ram']

25

2. We can get ask dict index of keys only we cant ask values

In [50]:
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [43]:
dict1['Ram'],dict1['Raheem'],dict1['Robert']

(25, 30, 35)

In [44]:
#wap by using for loop to get values
#if you iterate nrmly only keys are coming

In [45]:
str1='python'
str1[0]

'p'

In [54]:
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [64]:
dict1= {'Ram': 25, 'Raheem': 30, 'Robert': 35}
'Ram' in dict1
'Raheem' in dict1
'Robert' in dict1
 # i in range

True

In [70]:
for i in range(len(dict1)):
    print(i)

0
1
2

In [71]:
# see from notes

In [72]:
# How to create a empty dictionary

In [73]:
dict1={}

list1=[]

string1=''

In [74]:
dict1['Nareshit']=['DS','MLOPS','DE']
dict1

{'Nareshit': ['DS', 'MLOPS', 'DE']}

In [76]:
dict1['India']='in semis'
dict1

{'Nareshit': ['DS', 'MLOPS', 'DE'], 'India': 'in semis'}

In [77]:
dict2={}
dict2['Apple']='fruit'
dict2['car']='vehicle'
dict2

{'Apple': 'fruit', 'car': 'vehicle'}

In [ ]:
#wap ask the user get 5 random numbers
# and perform even and odd operation

#output:{'even':[10,12,14],'odd':[11,13]}

# Nov 15 class

In [80]:
dict1={'Course_id1':'DS',"Course_duration":4,
       'course_fee':18000,'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'course_fee': 18000,
 'Institute': 'Naresh IT'}

# items-keys-values
1. items means all will come
2. keys means only keys will come
3. values means only values will come

In [81]:
dict1.items()

# All will come

dict_items([('Course_id1', 'DS'), ('Course_duration', 4), ('course_fee', 18000), ('Institute', 'Naresh IT')])

In [84]:
type(dict1.items())

dict_items

1. It is a new type: dict_items
2. It is not a list

In [87]:
for i in dict1.items():
    print(i)

('Course_id1', 'DS')
('Course_duration', 4)
('course_fee', 18000)
('Institute', 'Naresh IT')

In [88]:
for i,j in dict1.items():
    print(i,j)

Course_id1 DS
Course_duration 4
course_fee 18000
Institute Naresh IT

In [90]:
list(dict1.items()) #type cast using list
# we can convert into list also

[('Course_id1', 'DS'),
 ('Course_duration', 4),
 ('course_fee', 18000),
 ('Institute', 'Naresh IT')]

In [93]:
for i,j in dict1.items():
    print(i,":",j)

Course_id1 : DS
Course_duration : 4
course_fee : 18000
Institute : Naresh IT

1. If later we want to create or add a new item we cant add in dict so we can do that by taking it as a list
2. There is a way we can convert dict values into list values and then again we can go back

In [97]:
keys= dict1.keys()

In [98]:
list(keys)

['Course_id1', 'Course_duration', 'course_fee', 'Institute']

In [99]:
values=dict1.values()

In [100]:
list(values)

['DS', 4, 18000, 'Naresh IT']

In [95]:
dict1.values()

dict_values(['DS', 4, 18000, 'Naresh IT'])

In [101]:
# one list keys
#second list values

# can you create the dictionary
#output: 
dict1={'Course_id1':'DS',"Course_duration":4,
       'course_fee':18000,'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'course_fee': 18000,
 'Institute': 'Naresh IT'}

In [102]:
list1=['A','B','C']
list2=[1,2,3]

dict1=dict(zip(list1,list2))
dict1

{'A': 1, 'B': 2, 'C': 3}

In [105]:
dict2={}
dict2['keys']=keys
dict2['value']=values
dict2

{'keys': ['A', 'B', 'C'], 'value': [1, 2, 3]}

In [108]:
keys=['A','B','C']
values=[1,2,3]

dict1={}
for i,j in zip(keys,values):
    dict1[i]=j
dict1

{'A': 1, 'B': 2, 'C': 3}

In [103]:
keys=['A','B','C']
values=[1,2,3]

dict1={}
for i,j in zip(keys,values):
    dict1[i]=j 
# We r creating empty dictionary next we r taking i,j in zip type
# then next dict1[i(value) means key]=j(value means values)

list1=[]
for i in range(10):
    list1.append

1. Here we r creating a dictionary by taking 2 list values

In [104]:
dict1

{'A': 1, 'B': 2, 'C': 3}

1. Remember the zip methods
2. how to create list to dictionary
3. AND dict to list

In [109]:
[i for i in range(10)] #list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
{i:j for i,j in zip(keys,values)} #dictionary comprehension

{'A': 1, 'B': 2, 'C': 3}

1. Can you get a keys list and values list from dictionary
2. can you make a dictionary by using 2 lists
d1

$get$

In [112]:
dict1

{'A': 1, 'B': 2, 'C': 3}

In [ ]:
<initalized>.<method_name>()

In [116]:
dict1.get('A')

1

In [117]:
dict1['A']

1

In [120]:
dict1.get('a') #No answer no error

In [118]:
dict1['a']

KeyError: 'a'

$clear$-$copy$

In [121]:
l1=[1,2,3]
l2=l1.copy()
l1.clear()
print('l1:',l1)
print('l2:',l2)

l1: []
l2: [1, 2, 3]

In [123]:
d1={'City':'Hyd'}
d2=d1.copy()
d1.clear()
print('d1:',d1)
print('d2:',d2)

d1: {}
d2: {'City': 'Hyd'}

$pop$-$popitem$-$delete$

In [124]:
dict1={'Course_id1':'DS',
       "Course_duration":4,
       'course_fee':18000,
       'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'course_fee': 18000,
 'Institute': 'Naresh IT'}

In [125]:
dict1.popitem()

#popitem is not taking any arguments
#It will return the output
#which pair it is removing? : Last in First out

('Institute', 'Naresh IT')

In [128]:
dict1

{'Course_id1': 'DS', 'Course_duration': 4, 'course_fee': 18000}

In [129]:
dict1={'Course_id1':'DS',
       "Course_duration":4,
       'course_fee':18000,
       'Institute':'Naresh IT'}
dict1.pop('course_fee')
print(dict1)

{'Course_id1': 'DS', 'Course_duration': 4, 'Institute': 'Naresh IT'}

In [131]:
dict1={'Course_id1':'DS',
       "Course_duration":4,
       'course_fee':18000,
       'Institute':'Naresh IT'}
del dict1['Course_duration']
print(dict1)

{'Course_id1': 'DS', 'course_fee': 18000, 'Institute': 'Naresh IT'}

In [132]:
list1=[100,200,300]
del list1[0]
list1

[200, 300]

$setasde fault$

In [135]:
dict1={'Course_id1':'DS',
       "Course_duration":4,
       'course_fee':18000,
       'Institute':'Naresh IT'}
dict1.setdefault('package')
#we are not providing value: None
dict1.setdefault('certification','valid') #both key and value also
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'course_fee': 18000,
 'Institute': 'Naresh IT',
 'package': None,
 'certification': 'valid'}

$fromkeys$

In [136]:
dict1={}
dict1.fromkeys('python',10)

{'p': 10, 'y': 10, 't': 10, 'h': 10, 'o': 10, 'n': 10}

In [137]:
dict1={}
list1=[2,4,6,7]
dict1.fromkeys(list1,'even')

{2: 'even', 4: 'even', 6: 'even', 7: 'even'}

In [138]:
dict1={}
employee=['A','B','C']
dict1.fromkeys(employee,'nareshit')

{'A': 'nareshit', 'B': 'nareshit', 'C': 'nareshit'}