**Lambda fucntion

In [6]:
#Normal function

def add(x):
    return(x+10)
add(10)

20

In [2]:
# How many arguments are there?  x
#what you are returning?        x+10
# <function_name>=Lamda <argument_name>:<return_value>

add=lambda x:x+10  #fucntion is ready
add(10)

20

In [3]:
def mul(num):
    return(num*num)
mul(5)

25

In [4]:
mul=lambda num:num*num
mul(5)

25

In [5]:
def cube(val):
    return(val*val*val)
cube(3)

27

In [13]:
cube=lambda val:val*val*val
cube(4)

64

In [7]:
def sum1(a,b):
    return(a+b)
sum(10,20)

TypeError: 'int' object is not iterable

In [8]:
# <function_name>= Lambda <argument_name>:<return_value>

sum1=lambda a,b:a+b
sum1(10,20)

30

In [12]:
def avg(a,b,c=100):
    return((a+b+c)/3)
avg(10,20)

43.333333333333336

In [14]:
Avg=lambda a,b,c=100: round((a+b+c)/3,2)
Avg(10,20)

43.33

$Lambda functions with if-else $

In [17]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    else:
        return(num2)
    
greater(80,60)

80

# Format of Lambda function

In [19]:
# <function_name>=lambda <arg1,arg2>:<return>

greater=lambda num1,num2: num1 if num1>num2 else num2
greater(100,70)

100

**lambda functions with list**

In [23]:
#### M-1######
list1=['hyd','mumbai','bangalore']
#list1.capitalize

output=[]

for i in list1:
    output.append(i.capitalize())
output

['Hyd', 'Mumbai', 'Bangalore']

In [24]:
################# M-2 ############
list1=['hyd','mumbai','bangalore']
output=[i.capitalize() for i in list1]
output

['Hyd', 'Mumbai', 'Bangalore']

In [38]:
################ M-3 ####### with lambda

list1=['hyd','mumbai','bangalore']
lambda i: i.capitalize(),list1 
#in this need to iterate the values

def abc(i):
    return(i.capitalize())
abc
#lambda x: x+10 # user providing directly
#lambda num: num*num
#lambda a,b: a+b

In [39]:
list1=['hyd','mumbai','bangalore']
list(map(lambda i: i.capitalize(),list1))

#step1: create a lambda function: lambda i:i.capitalize()
#step2: add ur iterator(either it is a list or string )

#step1,step2: lambda i: i.capitalize(),list1
#step3: mapping of both step-1 and step-2 

#   map(step1,step2)
#   map(lambda i: i.capitalize(),list1)

#step4: you need to save the result again in a iterator i.e in a list or tuple

#  list(map(step1,step2))
#  list(map(lambda i: i.capitalize(),list1))

['Hyd', 'Mumbai', 'Bangalore']

1. #step1: create a lambda function: lambda i:i.capitalize()
2. #step2: add ur iterator(either it is a list or string )

#step1,step2: lambda i: i.capitalize(),list1
#step3: mapping of both step-1 and step-2 

 map(step1,step2)
   map(lambda i: i.capitalize(),list1)

#step4: you need to save the result again in a iterator i.e in a list or tuple

 list(map(step1,step2))
#list(map(lambda i: i.capitalize(),list1))

In [ ]:
#step1: create a lambda function: lambda i:i.capitalize()
#step2: add ur iterator(either it is a list or string )

#step1,step2: lambda i: i.capitalize(),list1
#step3: mapping of both step-1 and step-2 

#   map(step1,step2)
#   map(lambda i: i.capitalize(),list1)

#step4: you need to save the result again in a iterator i.e in a list or tuple

#  list(map(step1,step2))
#  list(map(lambda i: i.capitalize(),list1))

In [26]:
# what is mean by iterator
# which data types we can iterate 
#which means which data types we can print by using for loop

string1='python' 
for i in string1:print(i)
#yes string can be itterated every single aplhbet
list1=[1,2,3] 
for i in list1:
    print(i)
tuple1=(1,2,3,4)

p
y
t
h
o
n
1
2
3

In [28]:
a=10
print(a)

10

1. We can iterate strings, lists, tuples
2. iterate means looping
3. reversed keyword using below

In [33]:
val= reversed('python')
for  i in val:
    print(i)

n
o
h
t
y
p

In [45]:
list1=[1,2,3,4]
#output=[1,4,9,16]

#create a nrml function if it has a single value
#def square(num):
   # return(num*num)

#square(10)

list(map(lambda num: num*num, list1))# this is called list comprehension

[1, 4, 9, 16]

In [49]:
list1=['hyd','biryani','Buvaneshwar','rasagulla']
#output: ['Biryani','bhuvaneshwar',rasagulla]
list(map(lambda i:len(i)>3,list1))

[False, True, True, True]

In [52]:
list1=['hyd','biryani','Buvaneshwar','rasagulla']

#return the items which has length greater than 3
for i in list1:
    if len(i)>3:
        print(i)
        
#step1:
list(filter(lambda i: len(i)>3,list1))

biryani
Buvaneshwar
rasagulla

['biryani', 'Buvaneshwar', 'rasagulla']

In [59]:
list1=['hyd','biryani','Buvane#hwar','rasagu#la']
list(filter(lambda i:'#' in i, list1))
#return those has # symbol
#for i in list1:
    #if

['Buvane#hwar', 'rasagu#la']

In [60]:
list1=[1,2,3,4,5,6]
list(filter(lambda i: i%2==0,list1))

[2, 4, 6]

In [63]:
list1=[1,2,3,4,5,6]

#output: [{'even'}]
for i in range(list1):
    if i%2==0:
        print('even')
    else:
        print('odd')
lambda i:

TypeError: 'list' object cannot be interpreted as an integer

In [ ]:
list1=[1,2,3,4,5,6]
list(map(lambda i: {i:'odd'}))